<section>
    <div class="container register-container m-auto mt-5 p-4 border-round-lg shadow-2 "> 
           <!-- <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="#000000" fill-rule="evenodd" d="M12 20a8 8 0 0 1-5-1.8v-.6c0-1.8 1.5-3.3 3.3-3.3h3.4c1.8 0 3.3 1.5 3.3 3.3v.6a8 8 0 0 1-5 1.8M2 12a10 10 0 1 1 10 10A10 10 0 0 1 2 12m10-5a3.3 3.3 0 0 0-3.3 3.3c0 1.7 1.5 3.2 3.3 3.2c1.8 0 3.3-1.5 3.3-3.3C15.3 8.6 13.8 7 12 7" clip-rule="evenodd"/></svg> -->
           <form [formGroup]="formGroup" (ngSubmit)="registerSubmit()">
            <h2 class="text-center color-primary">Create New Account:</h2>
            <div class="p-2">

                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Username" formControlName="username" />
                </p-inputGroup>
                
                <p-inputGroup class="mt-3">
                    <p-inputGroupAddon>
                        <i class="pi pi-envelope"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Email" formControlName="email" />
                </p-inputGroup>

                <p-inputGroup class="mt-3">
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText type="password" placeholder="Password" formControlName="password" />
                </p-inputGroup>
             
                <p-inputGroup class="mt-3">
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText type="password" placeholder="Password" formControlName="rePassword" />
                </p-inputGroup>
             
                <p-inputGroup class="mt-3">
                    <p-inputGroupAddon>
                        <i class="pi pi-phone"></i>
                    </p-inputGroupAddon>
                    <input pInputText type="tel" placeholder="phone number" formControlName="phone" />
                </p-inputGroup>
             
             </div>
            <div class="p-2 flex justify-content-center">
               <p-button label="Register" severity="primary" />
            </div>
        </form>
    </div>
</section>