.text-pink-400{
    color: #ec4899 !important;
}
.color-info{
    color: #3b82f6 !important;
}
.color-primary{
    color: #6366f1 !important;
}

.register-container{
    max-width: 50%;
    
}

:host ::ng-deep .p-password {
  width: 100%;
}

:host ::ng-deep .p-password .p-password-input {
  width: 100%;
  padding-right: 2.5rem !important; 
}

:host ::ng-deep .p-password .p-password-toggle-mask {
  right: 0.75rem !important; 
  left: auto !important;
}

.text-small{
    font-size: 9px !important;
}

::ng-deep .small-error .p-message {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
}

::ng-deep .small-error .p-message-icon {
  font-size: 0.9rem;
}

.validation-msg {
  display: block;
  margin-left: 2.2rem;
}

.register-page{
  
    justify-content: center;
}

