.text-pink-400{
    color: #ec4899 !important;
}
.color-info{
    color: #3b82f6 !important;
}
.color-primary{
    color: #6366f1 !important;
}

.register-container{
    max-width: 50%;
    
}

:host ::ng-deep .p-password {
  width: 100%;
}

:host ::ng-deep .p-password .p-password-input {
  width: 100%;
  padding-right: 2.5rem !important; 
}

:host ::ng-deep .p-password .p-password-toggle-mask {
  right: 0.75rem !important; 
  left: auto !important;
}

.text-small{
    font-size: 9px !important;
}